[Unit]
Description=Automatic syncing of Obsidian repository
Wants=vault.service

[Timer]
Unit=vault.service
OnCalendar=*:0/15

[Install]
WantedBy=timers.target