[submodule "aggressive-indent"]
	path = lib/aggressive-indent
	url = git@github.com:Malabarba/aggressive-indent-mode.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "company-quickhelp"]
	path = lib/company-quickhelp
	url = git@github.com:expez/company-quickhelp.git
[submodule "company-statistics"]
	path = lib/company-statistics
	url = git@github.com:company-mode/company-statistics.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "delight"]
	path = lib/delight
	url = https://git.savannah.nongnu.org/git/delight.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "evil"]
	path = lib/evil
	url = git@github.com:emacs-evil/evil.git
[submodule "evil-collection"]
	path = lib/evil-collection
	url = git@github.com:emacs-evil/evil-collection.git
[submodule "evil-magit"]
	path = lib/evil-magit
	url = git@github.com:emacs-evil/evil-magit.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "flyspell-correct"]
	path = lib/flyspell-correct
	url = git@github.com:d12frosted/flyspell-correct.git
[submodule "general"]
	path = lib/general
	url = git@github.com:noctuid/general.el.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "imenu-list"]
	path = lib/imenu-list
	url = git@github.com:bmag/imenu-list.git
[submodule "ivy"]
	path = lib/ivy
	url = git@github.com:abo-abo/swiper.git
[submodule "macrostep"]
	path = lib/macrostep
	url = git@github.com:joddie/macrostep.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "magit-popup"]
	path = lib/magit-popup
	url = git@github.com:magit/magit-popup.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "pos-tip"]
	path = lib/pos-tip
	url = git@github.com:pitkali/pos-tip.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "system-packages"]
	path = lib/system-packages
	url = git@gitlab.com:jabranham/system-packages.git
[submodule "tao-theme"]
	path = lib/tao-theme
	url = git@github.com:11111000000/tao-theme-emacs.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = git@github.com:lewang/ws-butler.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "yasnippet-snippets"]
	path = lib/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
