[user]
	name = Sondre Nilsen
	email = {{ .email }}
	signingkey = 9CBF84633C7DDB10
[push]
	default = current
	followtags = true
[pull]
	default = current
	rebase = true
[rebase]
	autosquash = true

[alias]
	b = branch -v
	d = diff
	dc = diff --cached
	cm = commit -m
	can = commit --amend --no-edit
	lg = log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	r = remote -v
	s = status
	st = status -bs
	co = "!git for-each-ref --format='%(refname:short)' refs/heads | fzf | xargs git checkout"
	last = log -1 HEAD --stat
	pp = "!git pull && git push"
[hub]
	protocol = ssh
[github]
	user = sondr3
[core]
	autocrlf = input
[init]
	defaultBranch = main
