[user]
  name = Sondre Aasemoen
  email = {{ email }}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOuZJPfaJ/B5lnfm9Pm7IFTRAwwxKYPIblpxzByqvKY7
[push]
  default = current
  followTags = true
[pull]
  default = current
  rebase = true
[rebase]
  autosquash = true
[commit]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[advice]
  addEmptyPathspec = false
[diff]
  colorMoved = default
[alias]
  b = branch -v
  d = diff
  dc = diff --cached
  cm = commit -m
  can = commit --amend --no-edit
  lg = log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  r = remote -v
  s = status
  st = status -bs
  co = "!git for-each-ref --format='%(refname:short)' refs/heads | fzf | xargs git checkout"
  last = log -1 HEAD --stat
  pp = "!git pull && git push"
[github]
  user = sondr3
[core]
  autocrlf = input
  excludesFile = ~/.gitignore
[init]
  defaultBranch = main
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
[credentials]
  helper = cache

# use SSH over HTTPS 
[url "git@github.com:"]
  insteadOf = https://github.com/
# except for cargo-edit :(
[url "https://github.com/rust-lang/crates.io-index"]
  insteadOf = https://github.com/rust-lang/crates.io-index

{%- if is_linux() -%}
[includeIf "gitdir:~/Code/projects/eviny/"]
  path = ~/.gitconfig-eviny 
[includeIf "gitdir:~/Code/projects/sonat/"]
  path = ~/.gitconfig-sonat 
{%- else -%}
[includeIf "gitdir:~/code/projects/eviny/"]
  path = ~/.gitconfig-eviny 
[includeIf "gitdir:~/code/projects/sonat/"]
  path = ~/.gitconfig-sonat 
{%- endif -%}
